@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600;700;800;900&display=swap");

pre,
code {
  font-weight: 500 !important;
  font-family: Inconsolata, monospace !important;
  letter-spacing: -0.5px !important;
}

h1,
h2,
h3 {
  color: #000 !important;
}

.slides > article {
  font-family: Nunito, "Open Sans", sans-serif !important;
}

.slides > article,
.output pre,
pre {
  color: #222 !important;
}

pre,
div.output {
  border-radius: 10px;
}

div.output {
  border: 1px solid #0003 !important;
  background-color: #eee !important;
}

div.output .system,
div.output .exit {
  color: rgb(159, 89, 28) !important;
}

[align="center"] {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.hljs-comment,
.hljs-quote,
.hljs-deletion,
.hljs-meta {
  color: #666 !important;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-title,
.hljs-section,
.hljs-doctag,
.hljs-type,
.hljs-name,
.hljs-strong {
  color: #000;
  font-weight: 700 !important;
}
